/* Обнуляем отступы и отступы внутри элементов */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Устанавливаем базовый размер шрифта и линейный декор */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* Удаляем стандартный список стилей для маркированных и нумерованных списков */
ul,
ol {
  list-style: none;
}

/* Удаляем подчеркивание ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Сбрасываем стандартные стили для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* Сбрасываем стандартные стили для кнопок */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
}

button,
a,
select,
option {
  font-family: inherit;
}
